<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matérias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Matérias</h1>
    <p>Por favor, escolha a matéria que deseja acessar as atividades:</p>
    <ul>
        {% for materia in materias %}
            <li><a href="{{ url_for('atividades', idMateria=materia['id']) }}">{{ materia['name'] }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
